albumentations==1.1.0
imageio==2.10.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
numba==0.53.0
numpy
opencv-python==4.5.4.58
opencv-python-headless==4.5.4.58
pandas==1.3.4
Pillow==9.0.1
scikit-image==0.18.3
scikit-learn==1.0.1
scipy==1.7.1
seaborn==0.11.2
segmentation-models-pytorch==0.2.0
tifffile==2021.10.12
torch==1.10.0
torch-optimizer==0.3.0
torchaudio==0.10.0
torchmetrics==0.6.1
torchsummary==1.5.1
torchvision==0.11.1
tqdm==4.62.3
typer==0.4.0
typing-extensions==3.10.0.2
umap-learn==0.5.2
